$primary-color: #417f56;
$second-color: #717171;

body {
  direction: rtl;
  background-color: #ffff;

  main {
    header {
      nav {
        width: 100%;
        height: 100px;
        justify-content: space-around;
        ul {
          gap: 25px;

          li {
            list-style-type: none;

            :hover {
              color: $primary-color;
              font-family: eebold;
            }
            a {
              font-family: eregular;
              text-decoration: none;
              color: $second-color;
            }
          }
        }
      }
    }
  }
}
