$primary-color: #417f56;
$second-color: #717171;

body {
  direction: rtl;
  background-color: #ffff;

  main {
    header {
      nav {
        width: 100%;
        height: 115px;
        justify-content: space-around;
        align-items: center;
        ul {
          gap: 25px;

          .active {
            a {
              color: $primary-color;
            }
          }
          li {
            list-style-type: none;

            :hover {
              color: $primary-color;
            }
            a {
              font-family: ebold;
              text-decoration: none;
              color: $second-color;
            }
          }
        }
      }
      .carousel {
        width: 100%;
        height: 336px;
        display: flex;
        justify-content: center;

        .carousel-indicators {
          display: flex;
          align-items: end;
          justify-content: center;

          .carousel-body {
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url(../images/Rectangle.png);
            width: 152px;
            margin-bottom: -18px;
            button {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #adadad;
            }
            .active {
              background-color: $primary-color;
              width: 13px;
              height: 13px;
            }
          }
        }
        .carousel-inner {
          width: 100%;
          height: 336px;

          .carousel-item {
            width: 100%;
            height: 336px;

            .carousel-caption {
              margin-bottom: 25px;
              h2 {
                padding-bottom: 50px;
                font-family: ebold;
              }
              button {
                width: 160px;
                height: 35px;
                border: none;
                background-color: $primary-color;
                border-radius: 8px;
                font-family: eregular;
              }
            }
            img {
              width: 100%;
              height: 336px;
            }
          }
        }
      }
      .menu {
        width: 100%;
        height: 140px;
        justify-content: center;
        align-items: center;

        h1 {
          font-family: ebold;
        }
      }
      .food {
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 120px;

        a {
          font-family: eregular;
          color: $second-color;
          text-decoration: none;
        }
        .text {
          width: 100%;
          justify-content: space-evenly;
          margin-top: -28px;

          button {
            width: 155px;
            height: 48px;
            background-color: #fff;
            color: #353535;
            border: 0;
            border-radius: 4px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);

            :hover {
              color: $primary-color;
              font-family: eebold;
              font-size: 15px;
            }
          }
        }
        .drink {
          flex-direction: column;

          .box {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 288px;
            height: 160px;
            background-color: $primary-color;
            border-radius: 8px;

            img {
              padding-bottom: 250px;
            }
          }
        }
        .dessert {
          flex-direction: column;

          .box {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 288px;
            height: 160px;
            background-color: $primary-color;
            border-radius: 8px;

            img {
              padding-bottom: 150px;
            }
          }
        }
        .starter {
          flex-direction: column;

          .box {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 288px;
            height: 160px;
            background-color: $primary-color;
            border-radius: 8px;

            img {
              padding-bottom: 150px;
            }
          }
        }
        .main-course {
          flex-direction: column;

          .box {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 288px;
            height: 160px;
            background-color: $primary-color;
            border-radius: 8px;

            img {
              padding-bottom: 150px;
            }
          }
        }
      }
    }
    .about {
      width: 100%;
      height: 390px;
      background-image: url(../images/about.png);
      background-size: cover;

      .rightpart {
        color: #ffff;
        justify-content: center;
        flex-direction: column;
        text-align: justify;
        width: 50%;
        align-items: end;
        gap: 20px;

        .about-text {
          text-align: justify;
          flex-direction: column;

          h1 {
            font-family: esbold;
          }
          p {
            width: 600px;
            height: 180px;
            font-size: 20px;
            font-family: eregular;
          }
        }
        button {
          width: 184px;
          height: 40px;
          border-radius: 4px;
          border: 1px solid white;
          background-color: rgba(255, 255, 255, 0);
          color: white;
          align-items: center;
          justify-content: center;

          a {
            color: white;
            font-family: eregular;
            text-decoration: none;
          }
        }
      }
      .leftpart {
        align-items: center;
        justify-content: end;
        width: 43%;
        padding-top: 58px;
        padding-left: 40px;

        img {
          width: 392px;
          height: 280px;
        }
      }
    }
    .tour-title {
      width: 100%;
      padding-top: 50px;

      text-align: center;

      h1 {
        font-family: esbold;
      }
    }
    .tour {
      width: 100%;
      justify-content: space-evenly;
      align-items: center;

      .akbatan {
        width: 288px;
        height: 328px;
        border: 2px solid #ccc;
        flex-direction: column;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);

        img {
          width: 284px;
          height: 190px;
        }
        .text-description {
          width: 100%;
          height: 100%;
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 5px;
          padding-top: 10px;

          h2 {
            font-family: eregular;
            font-size: 25px;
          }
          p {
            font-family: eregular;
          }
        }
      }
      .chaloos {
        width: 288px;
        height: 328px;
        border: 2px solid #ccc;
        flex-direction: column;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);

        img {
          width: 284px;
          height: 190px;
        }
        .text-description {
          width: 100%;
          height: 100%;
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 5px;
          padding-top: 10px;

          h2 {
            font-family: eregular;
            font-size: 25px;
          }
          p {
            font-family: eregular;
          }
        }
      }
      .aghdasieh {
        width: 288px;
        height: 328px;
        border: 2px solid #ccc;
        flex-direction: column;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);

        img {
          width: 284px;
          height: 190px;
        }
        .text-description {
          width: 100%;
          height: 100%;
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 5px;
          padding-top: 10px;

          h2 {
            font-family: eregular;
            font-size: 25px;
          }
          p {
            font-family: eregular;
          }
        }
      }
      .vanak {
        width: 288px;
        height: 328px;
        border: 2px solid #ccc;
        flex-direction: column;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);

        img {
          width: 284px;
          height: 190px;
        }
        .text-description {
          width: 100%;
          height: 100%;
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 5px;
          padding-top: 10px;

          h2 {
            font-family: eregular;
            font-size: 25px;
          }
          p {
            font-family: eregular;
          }
        }
      }
    }
    footer {
      width: 100%;
      height: 319px;
      background-image: url(../images/Footer.png);
      display: grid;
      background-size: cover;
      grid-template-columns: 300px 300px 600px;
      justify-content: center;
      gap: 128px;
      align-items: center;

      .connect-easy {
        flex-direction: column;
        gap: 15px;
        h2 {
          color: white;
          font-family: esbold;
        }
        ul {
          flex-direction: column;
          gap: 15px;
          li {
            list-style-type: none;

            a {
              font-family: eregular;
              color: white;
              text-decoration: none;
            }
          }
        }
      }
      .connect-branch {
        flex-direction: column;

        h2 {
          color: white;
          font-family: esbold;
          padding-bottom: 15px;
        }
        ul {
          flex-direction: column;
          gap: 15px;
          li {
            list-style-type: none;

            a {
              font-family: eregular;
              color: white;
              text-decoration: none;
            }
            .app {
              flex-direction: row;
            }
          }
        }
      }
      .connect-about {
        justify-content: center;
        gap: 15px;
        padding-top: 20px;
        .your-self {
          flex-direction: column;
          gap: 10px;

          h2 {
            font-family: esbold;
            color: white;
          }
          .one {
            width: 250px;
            height: 40px;
            background-color: #35353500;
            border: 1px solid rgba(255, 254, 254, 0.459);
            border-radius: 5px;
            padding-right: 10px;
            font-family: eregular;
            color: white;
          }
          .two {
            width: 250px;
            height: 40px;
            background-color: #35353500;
            border: 1px solid rgba(255, 254, 254, 0.459);
            border-radius: 5px;
            padding-right: 10px;
            font-family: eregular;
            color: white;
          }
          .three {
            width: 250px;
            height: 40px;
            background-color: #35353500;
            border: 1px solid rgba(255, 254, 254, 0.459);
            border-radius: 5px;
            padding-right: 10px;
            font-family: eregular;
            color: white;
          }
        }
        .massage {
          flex-direction: column;
          align-items: end;
          padding-top: 50px;
          gap: 20px;
          .four {
            width: 250px;
            height: 140px;
            background-color: #35353500;
            border: 1px solid rgba(255, 254, 254, 0.459);
            border-radius: 5px;
            padding-right: 10px;
            font-family: eregular;
            color: white;
          }
          button {
            width: 200px;
            height: 35px;
            background-color: #35353500;
            border: 1px solid rgba(255, 254, 254, 0.459);
            border-radius: 5px;
            font-family: eregular;

            a {
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.food-image {
  width: 100%;
  height: 336px;
  background-image: url(../images/Slider.png);
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  gap: 50px;

  h2 {
    color: #fff;
    font-family: ebold;
  }
  button {
    width: 184px;
    height: 40px;
    border-radius: 8px;
    font-family: eregular;
    border: none;
    background-color: $primary-color;
    color: #fff;
  }
}
.second-food {
  flex-direction: column;
  gap: 20px;

  h2 {
    font-family: ebold;
  }
  .food-card {
    justify-content: space-between;
    .card {
      text-align: center;
      height: 100px;
      display: flex;

      .card-title {
        font-family: ebold;
      }
      .btn {
        background-color: $primary-color;
        width: 256px;
        height: 40px;
        font-family: eregular;
        border: none;
      }
      .card-text {
        padding-top: 20px;
        .right-part {
          align-items: start;
          flex-direction: column;
          width: 150px;

          .add-favorite {
            height: 5px;
            p {
              font-size: 10px;
              color: #adadad;
              font-family: eregular;
            }
          }
          .score {
            justify-content: center;
            align-items: center;

            .fa-solid {
              padding-bottom: 20px;
            }
            .score-text {
              font-size: 10px;
              color: #adadad;
              font-family: eregular;
            }
            .solo {
              font-family: eregular;
            }
          }
        }
        .left-part {
          .offer {
            flex-direction: column;

            .offer-content {
              flex-direction: column;
              align-items: end;
              .first-price {
                font-size: 15px;
                color: #adadad;
                font-family: eregular;
                text-decoration: line-through #adadad;
                height: 10px;
                font-family: eregular;
              }
              .offer-box {
                color: red;
                background-color: rgba(255, 0, 0, 0.411);
                width: 25px;
                height: 16px;
                font-size: 10px;
                border-radius: 8px;
                font-family: eregular;
              }
            }
          }
        }
      }
    }
  }
}
