@font-face {
  font-family: ethin;
  src: url(../fonts/Estedad-Thin.woff2);
}
@font-face {
  font-family: eregular;
  src: url(../fonts/Estedad-Regular.woff2);
}
@font-face {
  font-family: emedium;
  src: url(../fonts/Estedad-Medium.woff2);
}
@font-face {
  font-family: elight;
  src: url(../fonts/Estedad-Light.woff2);
}
@font-face {
  font-family: eelight;
  src: url(../fonts/Estedad-ExtraLight.woff2);
}
@font-face {
  font-family: ebold;
  src: url(../fonts/Estedad-Bold.woff2);
}
@font-face {
  font-family: esbold;
  src: url(../fonts/Estedad-SemiBold.woff2);
}
@font-face {
  font-family: eebold;
  src: url(../fonts/Estedad-ExtraBold.woff2);
}
@font-face {
  font-family: eblack;
  src: url(../fonts/Estedad-Black.woff2);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 48px 108px;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
}

.padding-fix {
  padding: 0px 145px;
}

body {
  direction: rtl;
  background-color: white;
}
body main {
  display: flex;
  flex-direction: column;
}
body main header nav {
  width: 100%;
  height: 115px;
  justify-content: space-around;
  align-items: center;
}
body main header nav ul {
  gap: 25px;
}
body main header nav ul .active a {
  color: #417f56;
}
body main header nav ul li {
  list-style-type: none;
}
body main header nav ul li :hover {
  color: #417f56;
}
body main header nav ul li a {
  font-family: ebold;
  text-decoration: none;
  color: #717171;
}
body main header .carousel {
  width: 100%;
  height: 336px;
  display: flex;
  justify-content: center;
}
body main header .carousel .carousel-indicators {
  display: flex;
  align-items: end;
  justify-content: center;
}
body main header .carousel .carousel-indicators .carousel-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/Rectangle.png);
  width: 152px;
  margin-bottom: -18px;
}
body main header .carousel .carousel-indicators .carousel-body button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #adadad;
}
body main header .carousel .carousel-indicators .carousel-body .active {
  background-color: #417f56;
  width: 13px;
  height: 13px;
}
body main header .carousel .carousel-inner {
  width: 100%;
  height: 336px;
}
body main header .carousel .carousel-inner .carousel-item {
  width: 100%;
  height: 336px;
}
body main header .carousel .carousel-inner .carousel-item .carousel-caption {
  margin-bottom: 25px;
}
body main header .carousel .carousel-inner .carousel-item .carousel-caption h2 {
  padding-bottom: 50px;
  font-family: ebold;
}
body main header .carousel .carousel-inner .carousel-item .carousel-caption button {
  width: 160px;
  height: 35px;
  border: none;
  background-color: #417f56;
  border-radius: 8px;
  font-family: eregular;
}
body main header .carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 336px;
}
body main header .menu {
  width: 100%;
  height: 140px;
  justify-content: center;
  align-items: center;
}
body main header .menu h1 {
  font-family: ebold;
}
body main header .food {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 120px;
}
body main header .food a {
  font-family: eregular;
  color: #717171;
  text-decoration: none;
}
body main header .food .text {
  width: 100%;
  justify-content: space-evenly;
  margin-top: -28px;
}
body main header .food .text button {
  width: 155px;
  height: 48px;
  background-color: #fff;
  color: #353535;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body main header .food .text button :hover {
  color: #417f56;
  font-family: eebold;
  font-size: 15px;
}
body main header .food .drink {
  flex-direction: column;
}
body main header .food .drink .box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 160px;
  background-color: #417f56;
  border-radius: 8px;
}
body main header .food .drink .box img {
  padding-bottom: 250px;
}
body main header .food .dessert {
  flex-direction: column;
}
body main header .food .dessert .box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 160px;
  background-color: #417f56;
  border-radius: 8px;
}
body main header .food .dessert .box img {
  padding-bottom: 150px;
}
body main header .food .starter {
  flex-direction: column;
}
body main header .food .starter .box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 160px;
  background-color: #417f56;
  border-radius: 8px;
}
body main header .food .starter .box img {
  padding-bottom: 150px;
}
body main header .food .main-course {
  flex-direction: column;
}
body main header .food .main-course .box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 160px;
  background-color: #417f56;
  border-radius: 8px;
}
body main header .food .main-course .box img {
  padding-bottom: 150px;
}
body main .about {
  width: 100%;
  height: 390px;
  background-image: url(../images/about.png);
  background-size: cover;
}
body main .about .rightpart {
  color: white;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  width: 50%;
  align-items: end;
  gap: 20px;
}
body main .about .rightpart .about-text {
  text-align: justify;
  flex-direction: column;
}
body main .about .rightpart .about-text h1 {
  font-family: esbold;
}
body main .about .rightpart .about-text p {
  width: 600px;
  height: 180px;
  font-size: 20px;
  font-family: eregular;
}
body main .about .rightpart button {
  width: 184px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  align-items: center;
  justify-content: center;
}
body main .about .rightpart button a {
  color: white;
  font-family: eregular;
  text-decoration: none;
}
body main .about .leftpart {
  align-items: center;
  justify-content: end;
  width: 43%;
  padding-top: 58px;
  padding-left: 40px;
}
body main .about .leftpart img {
  width: 392px;
  height: 280px;
}
body main .tour-title {
  width: 100%;
  padding-top: 50px;
  text-align: center;
}
body main .tour-title h1 {
  font-family: esbold;
}
body main .tour {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
body main .tour .akbatan {
  width: 288px;
  height: 328px;
  border: 2px solid #ccc;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body main .tour .akbatan img {
  width: 284px;
  height: 190px;
}
body main .tour .akbatan .text-description {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding-top: 10px;
}
body main .tour .akbatan .text-description h2 {
  font-family: eregular;
  font-size: 25px;
}
body main .tour .akbatan .text-description p {
  font-family: eregular;
}
body main .tour .chaloos {
  width: 288px;
  height: 328px;
  border: 2px solid #ccc;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body main .tour .chaloos img {
  width: 284px;
  height: 190px;
}
body main .tour .chaloos .text-description {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding-top: 10px;
}
body main .tour .chaloos .text-description h2 {
  font-family: eregular;
  font-size: 25px;
}
body main .tour .chaloos .text-description p {
  font-family: eregular;
}
body main .tour .aghdasieh {
  width: 288px;
  height: 328px;
  border: 2px solid #ccc;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body main .tour .aghdasieh img {
  width: 284px;
  height: 190px;
}
body main .tour .aghdasieh .text-description {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding-top: 10px;
}
body main .tour .aghdasieh .text-description h2 {
  font-family: eregular;
  font-size: 25px;
}
body main .tour .aghdasieh .text-description p {
  font-family: eregular;
}
body main .tour .vanak {
  width: 288px;
  height: 328px;
  border: 2px solid #ccc;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body main .tour .vanak img {
  width: 284px;
  height: 190px;
}
body main .tour .vanak .text-description {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding-top: 10px;
}
body main .tour .vanak .text-description h2 {
  font-family: eregular;
  font-size: 25px;
}
body main .tour .vanak .text-description p {
  font-family: eregular;
}
body main footer {
  width: 100%;
  height: 319px;
  background-image: url(../images/Footer.png);
  display: grid;
  background-size: cover;
  grid-template-columns: 300px 300px 600px;
  justify-content: center;
  gap: 128px;
  align-items: center;
}
body main footer .connect-easy {
  flex-direction: column;
  gap: 15px;
}
body main footer .connect-easy h2 {
  color: white;
  font-family: esbold;
}
body main footer .connect-easy ul {
  flex-direction: column;
  gap: 15px;
}
body main footer .connect-easy ul li {
  list-style-type: none;
}
body main footer .connect-easy ul li a {
  font-family: eregular;
  color: white;
  text-decoration: none;
}
body main footer .connect-branch {
  flex-direction: column;
}
body main footer .connect-branch h2 {
  color: white;
  font-family: esbold;
  padding-bottom: 15px;
}
body main footer .connect-branch ul {
  flex-direction: column;
  gap: 15px;
}
body main footer .connect-branch ul li {
  list-style-type: none;
}
body main footer .connect-branch ul li a {
  font-family: eregular;
  color: white;
  text-decoration: none;
}
body main footer .connect-branch ul li .app {
  flex-direction: row;
}
body main footer .connect-about {
  justify-content: center;
  gap: 15px;
  padding-top: 20px;
}
body main footer .connect-about .your-self {
  flex-direction: column;
  gap: 10px;
}
body main footer .connect-about .your-self h2 {
  font-family: esbold;
  color: white;
}
body main footer .connect-about .your-self .one {
  width: 250px;
  height: 40px;
  background-color: rgba(53, 53, 53, 0);
  border: 1px solid rgba(255, 254, 254, 0.459);
  border-radius: 5px;
  padding-right: 10px;
  font-family: eregular;
  color: white;
}
body main footer .connect-about .your-self .two {
  width: 250px;
  height: 40px;
  background-color: rgba(53, 53, 53, 0);
  border: 1px solid rgba(255, 254, 254, 0.459);
  border-radius: 5px;
  padding-right: 10px;
  font-family: eregular;
  color: white;
}
body main footer .connect-about .your-self .three {
  width: 250px;
  height: 40px;
  background-color: rgba(53, 53, 53, 0);
  border: 1px solid rgba(255, 254, 254, 0.459);
  border-radius: 5px;
  padding-right: 10px;
  font-family: eregular;
  color: white;
}
body main footer .connect-about .massage {
  flex-direction: column;
  align-items: end;
  padding-top: 55px;
  gap: 20px;
}
body main footer .connect-about .massage .four {
  width: 250px;
  height: 140px;
  background-color: rgba(53, 53, 53, 0);
  border: 1px solid rgba(255, 254, 254, 0.459);
  border-radius: 5px;
  padding-right: 10px;
  font-family: eregular;
  color: white;
}
body main footer .connect-about .massage button {
  width: 200px;
  height: 35px;
  background-color: rgba(53, 53, 53, 0);
  border: 1px solid rgba(255, 254, 254, 0.459);
  border-radius: 5px;
  font-family: eregular;
}
body main footer .connect-about .massage button a {
  color: white;
  text-decoration: none;
}

.food-image {
  width: 100%;
  height: 336px;
  background-image: url(../images/Slider.png);
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  gap: 50px;
}
.food-image h2 {
  color: #fff;
  font-family: ebold;
}
.food-image button {
  width: 184px;
  height: 40px;
  border-radius: 8px;
  font-family: eregular;
  border: none;
  background-color: #417f56;
  color: #fff;
}

.second-food {
  flex-direction: column;
  gap: 20px;
  height: 600px;
}
.second-food h2 {
  font-family: ebold;
}
.second-food .food-card {
  justify-content: space-between;
}
.second-food .food-card .card {
  text-align: center;
  display: flex;
  border: 1px solid #717171;
}
.second-food .food-card .card .card-title {
  font-family: ebold;
}
.second-food .food-card .card .btn {
  background-color: #417f56;
  width: 256px;
  height: 40px;
  font-family: eregular;
  border: none;
}
.second-food .food-card .card .card-text {
  padding-top: 20px;
}
.second-food .food-card .card .card-text .right-part {
  align-items: start;
  flex-direction: column;
  width: 150px;
}
.second-food .food-card .card .card-text .right-part .add-favorite {
  height: 5px;
}
.second-food .food-card .card .card-text .right-part .add-favorite p {
  font-size: 10px;
  color: #adadad;
  font-family: eregular;
}
.second-food .food-card .card .card-text .right-part .score {
  justify-content: center;
  align-items: center;
}
.second-food .food-card .card .card-text .right-part .score .fa-solid {
  padding-bottom: 20px;
}
.second-food .food-card .card .card-text .right-part .score .score-text {
  font-size: 10px;
  color: #adadad;
  font-family: eregular;
}
.second-food .food-card .card .card-text .right-part .score .solo {
  font-family: eregular;
}
.second-food .food-card .card .card-text .left-part .offer {
  flex-direction: column;
}
.second-food .food-card .card .card-text .left-part .offer .offer-content {
  flex-direction: column;
  align-items: end;
}
.second-food .food-card .card .card-text .left-part .offer .offer-content .first-price {
  font-size: 15px;
  color: #adadad;
  font-family: eregular;
  text-decoration: line-through #adadad;
  height: 10px;
  font-family: eregular;
}
.second-food .food-card .card .card-text .left-part .offer .offer-content .offer-box {
  color: red;
  background-color: rgba(255, 0, 0, 0.411);
  width: 25px;
  height: 16px;
  font-size: 10px;
  border-radius: 8px;
  font-family: eregular;
}

.third-food {
  flex-direction: column;
  gap: 20px;
  height: 600px;
  width: 100%;
  background-color: #417f56;
}
.third-food h2 {
  font-family: ebold;
  padding-top: 30px;
  color: #fff;
}
.third-food .food-card {
  justify-content: space-between;
}
.third-food .food-card .card {
  text-align: center;
  display: flex;
  border: none;
}
.third-food .food-card .card .card-title {
  font-family: ebold;
}
.third-food .food-card .card .btn {
  background-color: #417f56;
  width: 256px;
  height: 40px;
  font-family: eregular;
  border: none;
}
.third-food .food-card .card .card-text {
  padding-top: 20px;
}
.third-food .food-card .card .card-text .right-part {
  align-items: start;
  flex-direction: column;
  width: 150px;
}
.third-food .food-card .card .card-text .right-part .add-favorite {
  height: 5px;
}
.third-food .food-card .card .card-text .right-part .add-favorite p {
  font-size: 10px;
  color: #adadad;
  font-family: eregular;
}
.third-food .food-card .card .card-text .right-part .score {
  justify-content: center;
  align-items: center;
}
.third-food .food-card .card .card-text .right-part .score .fa-solid {
  padding-bottom: 20px;
}
.third-food .food-card .card .card-text .right-part .score .score-text {
  font-size: 10px;
  color: #adadad;
  font-family: eregular;
}
.third-food .food-card .card .card-text .right-part .score .solo {
  font-family: eregular;
}
.third-food .food-card .card .card-text .left-part .offer {
  flex-direction: column;
}
.third-food .food-card .card .card-text .left-part .offer .offer-content {
  flex-direction: column;
  align-items: end;
}
.third-food .food-card .card .card-text .left-part .offer .offer-content .first-price {
  font-size: 15px;
  color: #adadad;
  font-family: eregular;
  text-decoration: line-through #adadad;
  height: 10px;
  font-family: eregular;
}
.third-food .food-card .card .card-text .left-part .offer .offer-content .offer-box {
  color: red;
  background-color: rgba(255, 0, 0, 0.411);
  width: 25px;
  height: 16px;
  font-size: 10px;
  border-radius: 8px;
  font-family: eregular;
}

.fourth-food {
  flex-direction: column;
  gap: 20px;
  height: 600px;
  width: 100%;
}
.fourth-food h2 {
  font-family: ebold;
  padding-top: 50px;
}
.fourth-food .food-card {
  justify-content: space-between;
}
.fourth-food .food-card .card {
  text-align: center;
  display: flex;
  border: none;
  border: 1px solid #717171;
}
.fourth-food .food-card .card .card-title {
  font-family: ebold;
}
.fourth-food .food-card .card .btn {
  background-color: #417f56;
  width: 256px;
  height: 40px;
  font-family: eregular;
  border: none;
}
.fourth-food .food-card .card .card-text {
  padding-top: 20px;
}
.fourth-food .food-card .card .card-text .right-part {
  align-items: start;
  flex-direction: column;
  width: 150px;
}
.fourth-food .food-card .card .card-text .right-part .add-favorite {
  height: 5px;
}
.fourth-food .food-card .card .card-text .right-part .add-favorite p {
  font-size: 10px;
  color: #adadad;
  font-family: eregular;
}
.fourth-food .food-card .card .card-text .right-part .score {
  justify-content: center;
  align-items: center;
}
.fourth-food .food-card .card .card-text .right-part .score .fa-solid {
  padding-bottom: 20px;
}
.fourth-food .food-card .card .card-text .right-part .score .score-text {
  font-size: 10px;
  color: #adadad;
  font-family: eregular;
}
.fourth-food .food-card .card .card-text .right-part .score .solo {
  font-family: eregular;
}
.fourth-food .food-card .card .card-text .left-part .offer {
  flex-direction: column;
}
.fourth-food .food-card .card .card-text .left-part .offer .offer-content {
  flex-direction: column;
  align-items: end;
}
.fourth-food .food-card .card .card-text .left-part .offer .offer-content .first-price {
  font-size: 15px;
  color: #adadad;
  font-family: eregular;
  text-decoration: line-through #adadad;
  height: 10px;
  font-family: eregular;
}
.fourth-food .food-card .card .card-text .left-part .offer .offer-content .offer-box {
  color: red;
  background-color: rgba(255, 0, 0, 0.411);
  width: 25px;
  height: 16px;
  font-size: 10px;
  border-radius: 8px;
  font-family: eregular;
}

.show-menu {
  width: 100%;
  justify-content: center;
}
.show-menu button {
  width: 185px;
  height: 40px;
  border: 1px solid #417f56;
  color: #417f56;
  border-radius: 4px;
  background-color: #fff;
}

.akbatan-branch {
  width: 100%;
  height: 660px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.akbatan-branch h2 {
  font-family: ebold;
}
.akbatan-branch img {
  width: 100%;
}
.akbatan-branch .branch-info {
  width: 800px;
  height: 130px;
  border: 3px solid #417f56;
  border-radius: 8px;
  justify-content: space-around;
  align-items: center;
  margin-top: -50px;
  background-color: #fff;
}
.akbatan-branch .branch-info div {
  width: 25%;
  flex-direction: column;
  height: 85%;
  align-items: center;
  gap: 10px;
  font-family: eregular;
}

.comments {
  width: 100%;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.comments h2 {
  font-family: ebold;
}
.comments .comments-text {
  gap: 20px;
}
.comments .comments-text .arezo {
  width: 600px;
  height: 200px;
  background-color: #fff;
  border: 2px solid rgba(139, 139, 139, 0.418);
  border-radius: 8px;
  align-items: center;
}
.comments .comments-text .arezo .right-part-second {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 25px 25px 15px;
  font-family: eregular;
  gap: 10px;
}
.comments .comments-text .arezo .right-part-second .name {
  text-align: center;
}
.comments .comments-text .arezo .right-part-second .name p {
  height: 10px;
  color: #717171;
}
.comments .comments-text .arezo .left-part-second {
  flex-direction: column;
  height: 80%;
  width: 70%;
  text-align: justify;
  align-items: center;
  justify-content: end;
}
.comments .comments-text .arezo .left-part-second p {
  width: 420px;
  font-family: eregular;
}
.comments .comments-text .arezo .left-part-second .star-second {
  width: 100%;
  direction: ltr;
}
.comments .comments-text .sardar {
  width: 600px;
  height: 200px;
  background-color: #fff;
  border: 2px solid rgba(139, 139, 139, 0.418);
  border-radius: 8px;
  align-items: center;
}
.comments .comments-text .sardar .right-part-second {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 25px 25px 15px;
  font-family: eregular;
  gap: 10px;
}
.comments .comments-text .sardar .right-part-second .name {
  text-align: center;
}
.comments .comments-text .sardar .right-part-second .name p {
  height: 10px;
  color: #717171;
}
.comments .comments-text .sardar .left-part-second {
  flex-direction: column;
  height: 80%;
  width: 70%;
  text-align: justify;
  align-items: center;
  justify-content: end;
}
.comments .comments-text .sardar .left-part-second p {
  width: 420px;
  font-family: eregular;
}
.comments .comments-text .sardar .left-part-second .star-second {
  width: 100%;
  direction: ltr;
}

/*# sourceMappingURL=style.css.map */
