@font-face {
  font-family: ethin;
  src: url(../fonts/Estedad-Thin.woff2);
}
@font-face {
  font-family: eregular;
  src: url(../fonts/Estedad-Regular.woff2);
}
@font-face {
  font-family: emedium;
  src: url(../fonts/Estedad-Medium.woff2);
}
@font-face {
  font-family: elight;
  src: url(../fonts/Estedad-Light.woff2);
}
@font-face {
  font-family: eelight;
  src: url(../fonts/Estedad-ExtraLight.woff2);
}
@font-face {
  font-family: ebold;
  src: url(../fonts/Estedad-Bold.woff2);
}
@font-face {
  font-family: esbold;
  src: url(../fonts/Estedad-SemiBold.woff2);
}
@font-face {
  font-family: eebold;
  src: url(../fonts/Estedad-ExtraBold.woff2);
}
@font-face {
  font-family: eblack;
  src: url(../fonts/Estedad-Black.woff2);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 48px 108px;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
}

body {
  direction: rtl;
  background-color: white;
}
body main header nav {
  width: 100%;
  height: 115px;
  justify-content: space-around;
  align-items: center;
}
body main header nav ul {
  gap: 25px;
}
body main header nav ul li {
  list-style-type: none;
}
body main header nav ul li :hover {
  color: #417f56;
  font-family: eebold;
}
body main header nav ul li a {
  font-family: eregular;
  text-decoration: none;
  color: #717171;
}
body main header .order-food {
  width: 100%;
}
body main header .menu {
  width: 100%;
  height: 140px;
  justify-content: center;
  align-items: center;
}
body main header .menu h1 {
  font-family: ebold;
}
body main header .food {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 120px;
}
body main header .food a {
  font-family: eregular;
  color: #717171;
}
body main header .food .text {
  width: 100%;
  justify-content: space-evenly;
  margin-top: -28px;
}
body main header .food .text button {
  width: 155px;
  height: 48px;
  color: #353535;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body main header .food .text button :hover {
  color: #417f56;
  font-family: eebold;
  font-size: 15px;
}
body main header .food .drink {
  flex-direction: column;
}
body main header .food .drink .box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 160px;
  background-color: #417f56;
  border-radius: 8px;
}
body main header .food .drink .box img {
  padding-bottom: 250px;
}
body main header .food .dessert {
  flex-direction: column;
}
body main header .food .dessert .box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 160px;
  background-color: #417f56;
  border-radius: 8px;
}
body main header .food .dessert .box img {
  padding-bottom: 150px;
}
body main header .food .starter {
  flex-direction: column;
}
body main header .food .starter .box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 160px;
  background-color: #417f56;
  border-radius: 8px;
}
body main header .food .starter .box img {
  padding-bottom: 150px;
}
body main header .food .main-course {
  flex-direction: column;
}
body main header .food .main-course .box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 160px;
  background-color: #417f56;
  border-radius: 8px;
}
body main header .food .main-course .box img {
  padding-bottom: 150px;
}
body main .about {
  width: 100%;
  height: 390px;
}
body main .tour-title {
  width: 100%;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
}
body main .tour-title h1 {
  font-family: ebold;
}
body main .tour {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
body main .tour .akbatan {
  width: 288px;
  height: 328px;
  border: 2px solid #ccc;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body main .tour .akbatan img {
  width: 284px;
  height: 190px;
}
body main .tour .akbatan .text-description {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body main .tour .akbatan .text-description h2 {
  font-family: esbold;
}
body main .tour .akbatan .text-description p {
  font-family: eregular;
}
body main .tour .chaloos {
  width: 288px;
  height: 328px;
  border: 2px solid #ccc;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body main .tour .chaloos img {
  width: 284px;
  height: 190px;
}
body main .tour .chaloos .text-description {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body main .tour .chaloos .text-description h2 {
  font-family: esbold;
}
body main .tour .chaloos .text-description p {
  font-family: eregular;
}
body main .tour .aghdasieh {
  width: 288px;
  height: 328px;
  border: 2px solid #ccc;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body main .tour .aghdasieh img {
  width: 284px;
  height: 190px;
}
body main .tour .aghdasieh .text-description {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body main .tour .aghdasieh .text-description h2 {
  font-family: esbold;
}
body main .tour .aghdasieh .text-description p {
  font-family: eregular;
}
body main .tour .vanak {
  width: 288px;
  height: 328px;
  border: 2px solid #ccc;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body main .tour .vanak img {
  width: 284px;
  height: 190px;
}
body main .tour .vanak .text-description {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body main .tour .vanak .text-description h2 {
  font-family: esbold;
}
body main .tour .vanak .text-description p {
  font-family: eregular;
}
body main footer img {
  width: 100%;
  height: 319px;
}

/*# sourceMappingURL=style.css.map */
